<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
            height: 100vh;
        }
        .content {
            flex-grow: 1;
            background-color: #ffffff;
        }
        .view{
            padding: 20px;
        }
    </style>
</head>
<body>
<div style="display: flex; flex-grow: 1;">
    <div th:replace="components/menubar.html"></div>
    <div class="content">
        <div th:replace="components/navbar.html"></div>
        <div class="view">
            <h1>환영합니다!</h1>
            <p>메뉴를 선택하면 여기에 콘텐츠가 표시됩니다.</p>
        </div>
    </div>
</div>
</body>
</html>
